{% extends 'layouts/common.twig' %}

{# games \App\Domain\Game\Game[] #}

{% block content %}
    <table>
        <thead>
        <th>id</th>
        <th>{{ 'common.detail' | trans }}</th>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td><a href="/games/{{ game.id }}">Link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
